# Eclipse project files
.classpath
.project
.settings/
.externalToolBuilders/

#IntelliJ project files
.idea
*.iml

# Maven
target/

# Temp files
*~
*.bak
.DS_Store

# Don't checkin property file:
resources/europeana.properties
