<html>

<body>

<p>Welcome to My Europeana </p>

<p>Please click on the following link to confirm your registration:<br />

    <a href="${url}">${url}</a></p>

<p>Many thanks,<br />
    <br/>
    The Europeana Team</p>

</body>

</html>