<html>

<body>

<p>
    <strong>Eng</strong><br/>
    Thank you very much for your feedback.
    If your feedback requires a response a member of the Europeana team will get back to you as soon as possible.
 </p>
<p>
    <strong>Deu</strong><br/>
    Vielen Dank f&#252;r Ihr Feeback.
    Falls Ihr Feedback eine Antwort erfordert, wird sich ein Mitglied des Europeanateams schnellstm&#246;glich mit Ihnen in Verbindung setzen.
</p>
<p>
    <strong>Esp</strong><br/>
    Muchas gracias por sus comentarios.
    Si sus comentarios requieren una respuesta, el personal de Europeana se pondr&#225; en contacto con Usted a la mayor brevedad posible.
 </p>
<p>
    <strong>Fra</strong><br/>
    Merci pour vos commentaires.
    Pour toutes questions un membre de l'&#233;quipe d'Europeana ce fera un plaisir de vous r&#233;pondre au plus t&#244;t.
  </p>
<p>
    <strong>Ita</strong><br/>
    Grazie per la sua opinione.
    Nel caso sia necessaria una risposta, un componente del team di Europeana vi contatter&#224; al pi&#249; presto.
  </p>
<p>
    <strong>Pol</strong><br/>
    Dzi&#281;kujemy za przedstawienie opinii.
    Je&#347;li opinia wymaga odpowiedzi, zesp&#243;&#322; Europeany skontaktuje si&#281; z Panem/Pani&#261; w mo&#380;liwie najbli&#380;szym czasie.
</p>

<p>================ FEEDBACK ================<br/>
${feedback}<br/>
==========================================</p>

<p>Thanks,<br />
    <br/>
Europeana Team</p>

</body>

</html>