<html>

<body>

<p>Dear ${salutation},</p>

<p>following your request to reset your password, please click on the following link to choose a new password:</p>

<p><a href="${url}">${url}</a></p>

<p>Please note that this link will work for six hours only.<br>If you do not use it within that period, you can submit another password reset request.

<p>Should you not have initiated this password reset request, please contact (TODO?) ASAP</p>

<p>Kind regards,<br /><br />
The Europeana Team</p>

</body>

</html>

