Dear ${salutation},

following your request to reset your password, please click on the following link to choose a new password:

${url}

Please note that this link will work for six hours only.
If you do not use it within that period, you can submit another password reset request.

Should you not have initiated this password reset request, please contact (TODO?) ASAP

Kind regards,
The Europeana Team

