<html>
<body>

<p>Dear Europeana API user,</p>

<p>Thank you for registering for the new Europeana API. These are your Europeana API keys:</p>

<p style="font-family:Courier,Courier New">==========<br/>
API key      : ${apiKey.id}<br/>
Private key  : ${apiKey.privateKey}<br/>
==========</p>

<p>Use the API key in your API calls. Keep your private key confidential.</p>

<p>The new Europeana API is currently in testing. We expect the testing period to last until late November 2012. During the testing period the API call base domain is preview.europeana.eu. When the new API enters production the base domain will change to europeana.eu. Please note that all keys registered during the testing period will carry over to the production version.</p>

<p>The API documentation will be updated to reflect any changes made to the API as a result of the testing.  Please join us at the Europeana API Forum to ask questions or give us your feedback on our new API. You can also contact us directly by mailing api@europeana.eu</p>

<p>Best regards,<br/>
<br/>
The Europeana API Team</p>

<p>
Europeana API Technical Documentation - <a href="http://preview.europeana.eu/portal2/api-documentation.html">http://preview.europeana.eu/portal2/api-documentation.html</a><br/>
Europeana API Forum - <a href="https://groups.google.com/forum/?pli=1#!forum/europeanaapi">https://groups.google.com/forum/?pli=1#!forum/europeanaapi</a><br/>
More about the Europeana API services - <a href="http://pro.europeana.eu/api">http://pro.europeana.eu/api</a>
</p>

</body>
</html>