
Hello Human Gatekeeper,

This email is to inform you that someone has registered:

==========
email        : ${user.email}
registration : ${user.registrationDate?date}
==========

- Europeana Registration Machine

