<html>

<body>

<p>Dear ${salutation},</p>

<p>this is to inform you that your password has been changed successfully.</p>

<p>Should you not have initiated this password reset, please contact (TODO?) ASAP</p>

<p>Kind regards,<br /><br />
The Europeana Team</p>

</body>

</html>

