Dear ${salutation},

this is to inform you that your password has been changed successfully.

Should you not have initiated this password reset, please contact (TODO?) ASAP

Kind regards,
The Europeana Team

