<html>
<body>

<p>${line1_html}</p>

<p>${line2_html}</p>

<p style="font-family:Courier,Courier New">==========<br/>
${apikey_label_html}      : ${apiKey.id}<br/>
${privatekey_label_html}  : ${apiKey.privateKey}<br/>
==========</p>

<p>${line3a_html}<br/>
${line3b_html}<p>

<p>${line4_html}</p>

<p>${line5_html}</p>

<p>${line6a_html}<br/>
${line6b_html}</p>

<p>${line7_html}</p>

</body>
</html>